<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Report</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Raport</a>
    </nav>
    <h2>Problems</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Problem id</th>
                <th scope="col">Set</th>
                <th scope="col">Number</th>
            </tr>
        </thead>
        <tbody>
            {% for problem in report.problems %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{problem.set}}</td>
                <td>{{problem.number}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Solvers</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Solver id</th>
                <th scope="col">Solver name</th>
                <th scope="col">Params</th>
            </tr>
        </thead>
        <tbody>
            {% for solver in report.solvers %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{solver.solver_name}}</td>
                <td>{{solver.params}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Solutions</h1>
        {% for problem_idx in report.report %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Solver id</th>
                    <th scope="col">Attempts</th>
                    <th scope="col">Time</th>
                    <th scope="col">Goal</th>
                    <th scope="col">Solution</th>
                </tr>
            </thead>
            <tbody>
                <h3>Problem {{problem_idx + 1}}</h3>
                {% for solver_idx in report.report[problem_idx] %}
                <tr>
                    <td>{{solver_idx["solver_id"] + 1}}</td>
                    <td>{{solver_idx["report"]["attempts"]}}</td>
                    <td>{{solver_idx["report"]["time"]}}</td>
                    <td>{{solver_idx["goal"]}}</td>
                    <td>{{solver_idx["solution"]}}</td>
                    <td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
</body>

</html>